# Ignore kile project files
*.kilepr

# ========== Latex ignores =================
*.aux
*.idx
*.ilg
*.ind
*.lof
*.log
*.toc
*.out
*.lot
*.backup

# Ignore pdfs
*.pdf

# Ignore documentation builds
build/

