# Ignore kile project files
*.kilepr

# ========== Latex ignores =================
*.aux
*.idx
*.ilg
*.ind
*.lof
*.log
*.toc
*.out
*.lot
*.backup

# Ignore pdfs
*.pdf

# Ignore vscode
.vscode
# Ignore .idea
.idea/

# Ignore documentation builds
_build/
build/

# Ignore python folders
.ipynb_checkpoints/
__pycache__/

# Ignore building virtual environment
documentation-builder/
