/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }

   .wy-nav-content {
      max-width: 1200px !important;
   }

   /* Sidebar header (and topbar for mobile) */
   .wy-side-nav-search, .wy-nav-top {
     background: SeaGreen;
     /* Uncomment the following two lines to add colour animation.
     /* -webkit-animation: mymove 5s infinite alternate;*/ /* Chrome, Safari, Opera */
     /* animation: mymove 5s infinite alternate; */
   }
   /* Chrome, Safari, Opera */
   @-webkit-keyframes mymove {
     from {background-color: MediumSeaGreen;}
     to {background-color: SeaGreen;}
   }
   /* Standard syntax */
   @keyframes mymove {
     from {background-color: MediumSeaGreen;}
     to {background-color: SeaGreen;}
   }

   /* Sidebar */
   /* .wy-nav-side {
     background: #ff0000;
   }*/

}
