.rubric {
  font-size: 150%;
  font-weight: bold;
  color: #333;
}

.wy-side-nav-search .logo {
    max-width: 150px;
    max-height: 200px;
}

.logo-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: transform 0.3s;
}

.logo-cell img:hover {
    transform: scale(1.1);
    cursor: pointer;
}